nav{
    background-color: rgb(238, 238, 238);
}
.bg-image{
    background-image: url(image/bg-image.png);
    width: 100%;
    min-height: 88vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.rgba{
    background: linear-gradient(to top,rgb(255, 255, 255),rgb(184, 180, 235),rgb(56, 8, 233));
}
.rg{
    background: linear-gradient(to top,rgb(240, 9, 9),rgb(113, 107, 201),rgb(56, 8, 233));
    color: white;
}
.rgb:hover{
    background: linear-gradient(to top,rgb(17, 0, 255),rgb(230, 90, 188),rgb(164, 50, 192),rgb(255, 0, 64));
    color: white !important;
}
.ovelow{
    width: 100%;
    bottom: -100%;
    position: absolute;
    opacity: 70%;
    transition: all 0.4s ease !important;
}
.ddd:hover .ovelow{
    bottom: 0%;
}
.ddd img{
    z-index: -1;
}
.ddd{
    transition: 0.4s all;
}
.ddd:hover{
    box-shadow: none !important;
    transform: rotate(5deg);
}
.bg-img{
    background-image: url(image/maxresdefault1.jpg);
}
.bg-img ,.bg-ima{
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-ima{
    background-image: url(image/game-com.jpg);
}
.height-60{
    height: 50px;
}
.height-60 li a::after{
    content: "";
    width:0%;
    height: 2px;
    display: block;
    margin: 4px auto 0px;
    transition: 0.4s all;
}
.height-60 li:hover :after{
    width: 100%;
    border: 1px solid;
}
.height-60 li a:hover{
    color: blue !important;
}
input ,textarea{
    border-bottom: 1px solid !important;
}
input ,textarea{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
@media screen and (min-width:420px) {
    nav{
        padding: 0px 50px !important;
    }
}
@media screen and (max-width:420px) {
    nav{
        padding: 0px 4px !important;
    }
}